.dropDown{

    display: none;

}

.show{
    display: block;
}

.cartIcon{
    font-size: 23px;
}

.cartIcon:hover{
    color: #0039a6;
    cursor: pointer
}

.component{
    overflow: visible;
    max-height: 37px;
}
