.greeting{
    font-family: pixelsix;
    font-size: 44px;
    margin-top: 10px;
    
}


.itemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;

    justify-content: center;
}

.item{
    margin-left: 10px;
    margin-right: 10px;
    width: 15vw;
    height: 40vh;

    min-width: 300px;
    min-height: 420px;
    
    /* margin-left: 10px;
    margin-right: auto; */

    margin-top: 10px;
    margin-bottom: 10px;

}